h1 {
    color: skyblue; /* 텍스트 색상 */
    font-weight: bold;/* 폰트 굵기 */
    text-align: center;/* 텍스트 정렬 */
}

h2 {
    color: rgb(114, 226, 120);
    font-weight: bold;
    text-align: center;
}

h3 {
    color: rgb(54, 96, 151);
    font-weight: bold;
    text-align: right;
}

p {
    color: rgb(183, 163, 255);
    font-weight: bold;
    text-align: left;
}