body{
    background-color: pink;
}
h1
{
    color: white;
    height :200px;
    text-align: center;
    line-height :200px;
    font-weight: bold;
    font-size: 30px;
}

h2{
    color: white;
    text-align: center;
    font-weight: bold;
}

img{
    width: 50px;
    height: 50px;
}
