h1 {
    color: blue; /* 텍스트 색상 */
    font-weight: bold; /* 폰트 굵기 */
    text-align: center; /* 텍스트 정렬 */
  }  

  h2 {
    color: yellow; /* 텍스트 색상 */
    font-weight: bold; /* 폰트 굵기 */
    text-align: center; /* 텍스트 정렬 */
  }  

  h3 {
    color: green; /* 텍스트 색상 */
    font-weight: bold; /* 폰트 굵기 */
    text-align: right; /* 텍스트 정렬 */
  }  

  p {
    color: black; /* 텍스트 색상 */
    font-weight: bold; /* 폰트 굵기 */
    text-align: left; /* 텍스트 정렬 */
  }  